:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .row {
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}

@media (min-width: 961px) {
  .keyboard {
    .row {
      gap: 8px;
    }
  }
}
